<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odmowa dostępu</title>
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/wave-background-abstract-gradient-design_483537-3688.jpg');
            background-size: cover;
            color: white;
            text-align: center;
            padding-top: 250px;
        }
        h2 {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

<h2>Odmowa dostępu. Użytkownik nie jest autoryzowany do wykonania akcji.</h2>

<a th:href="@{/}">Powrót do strony głównej</a>

</body>
</html>