<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/wave-background-abstract-gradient-design_483537-3688.jpg');
            background-size: cover;
            color: white;
            text-align: center;
            padding-top: 50px;
        }
    </style>
    <title>Składka zdrowotna</title>
</head>
<body>
<div class="container">
    <h3>Składka zdrowotna</h3>
    <hr>
    <p class="h4 mb-4b">Uzypełnij informacje na temat okresu</p>

    <form action="#" th:action="@{/healthContribution/save}"
          th:object="${healthContribution}" method="post">

        <input type="hidden" th:field="*{healthContributionId}" />

        <input type="text" th:field="*{companyId}"
               class="form-control-center mb-2 w-10" style="text-align: center;" placeholder="ID FIRMY">

        <p>Miesiąc</p>
        <select th:field="*{month}"
                class="form-select-center mb-3 w-10">
            <option th:value="1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
            <option th:value="5">5</option>
            <option th:value="6">6</option>
            <option th:value="7">7</option>
            <option th:value="8">8</option>
            <option th:value="9">9</option>
            <option th:value="10">10</option>
            <option th:value="11">11</option>
            <option th:value="12">12</option>

        </select>

        <p></p>
        <button type="submit" class="btn btn-success btn-block">Zapisz</button>
    </form>
    <hr>
    <a th:href="@{/company/list}" class="link-secondary">Wróć do listy przedsiębiorstw</a>
</div>

</body>
</html>